html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;    
}
.profile-pic img {
    width: 150px;        
    height: 150px;       
    object-fit: cover;   
    border-radius: 50%;  
    border: 2px solid #333; 
}
.contact {
    display: flex;
    align-items: center;
    gap: 1.25rem; 
}
.contact img {
    width: clamp(14px, 4vw, 18px);
    height: clamp(14px, 4vw, 18px);
  }
.contact a {
    text-decoration: none;
}
.header {
    text-align: center; 
}
.body{
    text-align: center;
    margin: 0 10% 0 10%;
}